/* -------------------------------------------------------------------
	БЛОКИ
------------------------------------------------------------------- */

.block 					{ background: #fafafa; margin-bottom: 30px; border-radius: 3px; }
.block:last-child 		{ margin-bottom: 0; }
.sidebar-left .block 	{ margin-bottom: 10px; }

.block .block-header 					{ padding: 13px 20px; background: #E8EAF6; border-top: 1px solid #5C6BC0; position: relative; }
.block .block-header h3 				{ font-size: 16px; line-height: 1em; font-weight: normal; }
.block .block-header h3 a 				{ text-decoration: none; color: #333; }
.block .block-header h3 a.link-dotted 	{ color: #5055B2; }
.block .block-content 					{ padding: 20px; }
.block footer 							{ margin-top: 15px; font-size: 12px; }

.block .max-height-200 		{ overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }


/* Block Type - Stream */
.block .block-update 		{ position: absolute; top: 13px; right: 15px; width: 16px; height: 16px; font-size: 16px; cursor: pointer; }
.block .block-update.active 	{ background-position: -16px 0; }


/* Block Type - Activity Settings */
.block.block-type-activity p 		{ margin-bottom: 15px; }
.block.block-type-activity ul li 	{ margin-bottom: 5px; }
.block.block-type-activity .note 	{ display: block; margin-bottom: 15px; color: #aaa; }


/* Block Type - Profile */
.block.block-type-profile 							{ background: none; border: none; padding: 0; }
.block.block-type-profile .profile-photo-wrapper 	{ position: relative; min-height: 50px; overflow: hidden;}
.block.block-type-profile .profile-photo 			{ vertical-align: top; }
.block.block-type-profile .status 					{ position: absolute; top: -15px; left: -15px; border-radius: 200px; font-size: 11px; }
.block.block-type-profile .status.status-online 	{ background: #00C853; color: #fff; height: 40px; width: 40px; }
.block.block-type-profile .status.status-offline 	{ background: #D50000; color: #fff; height: 40px; width: 40px; }
.block.block-type-profile .upload-photo 			{ padding: 7px 10px 10px; background: #f7f7f7; }

.block.block-type-profile-note	 			{ background: #F1F7AF; border: 1px solid #E1EA83; padding: 15px; }
.block.block-type-profile-note p 			{ margin-bottom: 10px; }
.block.block-type-profile-note .actions 	{ margin-bottom: 0; }

.block.block-type-profile-nav 				{ padding: 0; background: none; }

.block.block-type-profile-actions .block-content 		{ padding: 10px 15px; }
.block.block-type-profile-actions ul li					{ margin-bottom: 5px; }
.block.block-type-profile-actions ul li:last-child		{ margin-bottom: 0; }
.block.block-type-profile-actions ul li a.followed		{ color: #f00; }


/* Block Type - Foldable */
.block.block-type-foldable { background: none; }
.block.block-type-foldable .block-header { background: none; border: none; padding: 0 0 10px; }
.block.block-type-foldable .block-content { display: none; background: #fafafa; }

.block.block-type-talk-search { margin-bottom: 10px; }
.block.block-type-talk-friends { margin-bottom: 10px; }