/* -------------------------------------------------------------------
	
	КНОПКИ
	
	
	Примеры использования:
	
	<button class="button">Preview</button>
	<a href="#" class="button">Preview</a>
	
	<button class="button button-primary">Save</button>
	
------------------------------------------------------------------- */

.button {
	-moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
	display: inline-block;
	
	padding: 7px 15px;
	text-align: center;
	
	border: 1px solid rgb(192, 202, 213);
	
	font-size: 12px;
	line-height: 16px;
	
	color: #333;
	
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 );



	cursor: pointer;
	
	*margin-right: 5px;
}
.button:hover { text-decoration: none; background: rgba(191, 193, 243, 0.68); }
.button:active { 
	-moz-box-shadow: 	0 0 7px rgba(0, 0, 0, .5) inset; 
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset; 
	box-shadow: 		0 0 7px rgba(0, 0, 0, .5) inset; 
}
.button.fl-r { *margin-right: 0; }


/* Button Primary */
.button.button-primary 			{ 
	background: white;
}
.button.button-primary:hover 	{ background: rgb(216, 224, 255); }
.button.button-primary.active { background: #C5CAE9; }

/* Button Icon (Without text) */
.button.button-icon 			{ padding: 7px 10px; }