/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{ margin: 0 auto; margin-bottom: 20px; }
#header 	{ padding: 50px 0; position: relative; }
#nav 		{ overflow: hidden; }
#wrapper 	{ margin-left: 50px; overflow: hidden; zoom: 1; padding: 30px; background: #EEEEEE; border-bottom: 1px solid #eee; -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1); box-shadow: 0 0 3px rgba(0,0,0,.1); }
#content 	{ float: left; width: 71%; margin-right: 4%; background: #EEEEEE; position: relative; }
#sidebar	{ float: left; width: 25%; }
#footer 	{ margin-left: 50px; overflow: hidden; zoom: 1; margin-bottom: 20px; padding: 20px 20px 50px; color: #777; }


#content.content-full-width { width: 100%; margin-right: 0; }

#content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }
#sidebar.sidebar-left 		{ float: left; width: 250px; padding-right: 30px; border-right: 1px solid #eee; margin-right: 30px; }


