/* --------------------------------------------
	НАВИГАЦИЯ
-------------------------------------------- */

.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

.nav li:last-child 		{ border-right: none; }
.nav li a 				{ display: block; padding: 10px 13px; }
.nav li a:hover 		{ background: #f3f3f3; }
.nav li.active a 		{ background: #f3f3f3; }


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; }
.nav.nav-pills li 			{ margin-right: 3px; }
.nav.nav-pills li a 		{ border-radius: 2px; padding: 5px 12px; background: #f5f5f5; color: #888; }
.nav.nav-pills li a:hover 	{ background: #eaeaea; }
.nav.nav-pills li.active a 	{
    background: #7986CB;
	color: #fff;
}

.nav.nav-pills.nav-pills-profile 		{ margin-bottom: 30px; }


/* Nav Topic Filter */
.nav.nav-filter 						{ margin-bottom: 1px; }
.nav.nav-filter li 						{ margin-right: 1px; position: relative; }
.nav.nav-filter li a 					{ background: rgba(72, 124, 190, 0.05); color: #616161; padding: 7px 13px; float: left; -moz-transition: color 0.0s 0.0s ease;
    -o-transition: color 0.0s 0.0s ease;
    -webkit-transition: color 0.0s 0.0s ease;}
.nav.nav-filter li a:hover 				{ background: rgba(72, 124, 190, 0.52); color: #FFFEFE;}
.nav.nav-filter li.active a 			{ background: #487CBE; color: #fff; }
.nav.nav-filter li a.new 				{ background: rgb(230, 233, 236); font-weight: bold; }
.nav.nav-filter li a.new:hover 			{ background: rgba(72, 124, 190, 0.52); }
.nav.nav-filter li.active a.new 		{ background: #487CBE; }
.nav.nav-filter li.active a.new:hover 	{ background: #487CBE; }

.nav.nav-filter.nav-filter-sub li a 		{ padding: 5px 10px; font-size: 11px; color: #777; }
.nav.nav-filter.nav-filter-sub li a:hover 		{ padding: 5px 10px; font-size: 11px; color: white; }
.nav.nav-filter.nav-filter-sub li.active a 	{ color: #fff; }

.nav-filter-wrapper { margin-bottom: 40px; }


/* Userbar */
#userbar {
	-webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
#userbar .search { float: left; margin: 5px 0 0 6px; margin: 4px 0 0 4px; }

.nav.nav-userbar 									{ float: left; background: #5C6BC0; height: 100%; padding-top: 50px; }

.nav.nav-userbar li 								{ }
.nav.nav-userbar li a 								{ color: white; }
.nav.nav-userbar li:first-child  					{ padding-top: 50px; }
.nav.nav-userbar li:last-child a 					{ }
.nav.nav-userbar li.nav-userbar-username a 			{ position: relative; color: white; }
.nav.nav-userbar li.nav-userbar-username .avatar 	{ position: absolute; top: 7px; right: 13px; }
.nav.nav-userbar li .new-messages 					{ color: #4AA731; font-weight: bold; }


/* Nav Main */
.nav.nav-main 					{ background: #5C6BC0; margin-left: 50px; height: 50px;}
.nav.nav-main li a 				{ color: white; }
.nav.nav-main li a:hover 		{ background: #7986CB; }
.nav.nav-main li:first-child a 	{ border-radius: 0; }
.nav.nav-main li:last-child  a 	{ border-radius: 0; }
.nav.nav-main li.active a 		{ background: #7986CB; color: white; }


/* Nav Profile */
.nav.nav-profile 				{ margin-bottom: 15px; }
.nav.nav-profile li 			{ float: none; margin-bottom: 0px; }
.nav.nav-profile li a 			{ padding: 7px 12px; color: #333; border-radius: 0px;}


/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; }
.nav.nav-pills li.dropdown a 		{ padding-right: 25px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 13px; right: 9px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #fff; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }
.nav.nav-pills li.dropdown.opened a { -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset; box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset;  }

.dropdown-menu 						{ position: absolute; top: 32px; overflow: hidden; background: #fff; border: 1px solid #ccc; min-width: 150px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); border-radius: 3px; }
.dropdown-menu li 					{ font-size: 14px; line-height: 1em; }
.dropdown-menu li a 				{ display: block; padding: 10px 15px; }
.dropdown-menu li a:hover 			{ background: #fafafa; }
.dropdown-menu li.active a 			{ color: #aaa; }
.dropdown-menu li.active a:hover 	{ cursor: default; }

.dropdown-create 		{ position: relative; margin-right: 120px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; }
.nav.nav-main li {float: right;}
.nav.nav-userbar li {float: none;}
.nav.nav-userbar {position: fixed; padding-top: 4px; }
.nav.nav-main li a { padding: 16px 15px; }
.nav.nav-userbar li a:hover { background: #7986CB; }
.nav.nav-userbar li sub {
	bottom: -0.5em;
}
.nav.nav-userbar li i {
	margin-top: -2px;
	font-size: 25px;
	float: right;
}
.nav-userbar-username {
	margin-top: 90px;
}

.js-login-form-show {
	margin-top: 90px;
}
.js-registration-form-show {
	margin-right: -8px;
}
.quote {
	float: left;
}
.quote:hover {
	background: none;
}
.nav.nav-main li.quote a:hover {
	background: #5C6BC0;
	cursor: default;
}